.empty{
  padding-top: 50px;
}
.lyrics{

--background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 71%); /* FF3.6-15 */
--background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 71%); /* Chrome10-25,Safari5.1-6 */
--background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
--filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

  border-style: solid;
  border-color: #003CA0;
  border-radius: 8px;
  font: 30px arial, sans-serif;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: inherit;
  white-space: pre-wrap;
}
.instructions{
  font: 10px arial, sans-serif;
  width: 100%;
}
.splitline {

}
